<!DOCTYPE html>
<html>
<head>
  <title>
    Thore
  </title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/respond.js"></script>
</head>
<body>

<header>
<div class="row">
<nav class="navbar navbar-inverse navbar-fixed-top" name="Navigation Bar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>  


              <div class="collapse navbar-collapse" id="collapse">
              <ul class="nav nav-pills navbar-nav nav-justified">
                      <li id="blog"><a href="/blog" >BLOG</a></li>
                      <li id="search" class="active" ><a href="/">SEARCH</a></li>
                      <li id="share"><a href="/share" >SHARE</a></li>
              </ul>
              </div>
     </nav>
   </div>
   <!-- <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
              <div class="collapse navbar-collapse" id="collapse">
                  <ul class="nav navbar-nav nav-justified">
                <li><a href="/blog">Blog</a></li>
                <li class="active"><a href="/">Search</a></li>
                <li><a href="/share">Share</a></li>
                  </ul> 
              </div>

      </nav>
      
    </div>
-->
        <!--
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top justified">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                    MENU
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="collapse">
                  <ul class="nav navbar-nav nav-justified">
                <li><a href="/blog">Blog</a></li>
                <li class="active"><a href="/">Search</a></li>
                <li><a href="/share">Share</a></li>
                  </ul> 
              </div>
           </nav> 
      </div>  

            -->    
  </header> 

  <article>
    <div class="container-fluid">
      <h1 id="thore" class="text-center" >
        Th0RE 
      </h1>
    </div>
  </article>

  <section>

    <hr/>
<!--
  <form action="">  
  <input type="text" class="form-control input-lg" placeholder="Search.."> 

  <input type="submit" class="btn btn-primary" value="Search">
     <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <input type="text" class="form-control input-lg" placeholder="Search..">
        </div>
    
    </div>
    </form>   
  </div>  -->
    <div class="container-fluid">
      <form method="post" class="form-horizontal" role="form" >
          <div class="form-group">
            <label class="col-sm-1 control-label"></label>
            <div class="col-sm-10 ">
              <input type="search" class="form-control input-lg" placeholder="Search.." name="search_string" autofocus>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label " class="text-center"></label>
            <div class=" col-sm-offset-2 col-sm-6" class="container-fluid">
              <button type="submit" class="btn btn-primary btn-lg btn-block" id="search-button" data-loading-text="Searching" >Search</button>
            </div>
          </div>       
      </form>
    </div>

    
  </section>
  <section>
    <div class="container-fluid" {{tr_show_value}}>
      <hr/>
      <div class="well" >       
        <h2 class="text-center" >
          <p>{{search_string}}</p>
        </h2>     
        <article>
          <div class="text-center">
            <h4>
            <!--  Abstract Results -->

              <div>
                  {% if not definition=="" %}
                      <hr/>
                  {% endif %}             
                <p><em>{{definition}}</em></p>
                <p><small>{{definition_source}}</small></p>
                <p>
                  <a href="{{definition_url}}">{{definition_url}}</a>
                </p>
              </div>  
              <div class="row">

                  <label class="col-sm-2 control-label " class="text-center"></label>   
                  <label class="col-sm-2 control-label " class="text-center"></label> 
                    <div class="col-sm-4" >             
                      <img src="{{image_url}}" alt="">                                
                  </div>
              </div>  
              <div>
                <p>
                  {{instant_answer}}
                </p>                
              </div>  

              <div>
                <p><em>{{abstract_text}}</em></p>
                <p><small>{{abstract_source}}</small></p>
                <p>
                  <a href="{{abstract_url}}">{{abstract_url}}</a>       
              </div>
              <hr/>
              <div>
                {% for result in results_list %}
                  
                    <div>
                      <p>
                        {{result["Text"]}}
                      </p>
                      <p>
                        <a href="{{result["FirstURL"]}}">{{result["FirstURL"]}}</a> 
                      </p>                
                    </div>
                    <hr/>


                   {% endfor %}
              </div>
              <div>                
                  <a data-toggle="modal" href="#myModal" class="btn btn-success ">Related Links <span class="glyphicon glyphicon-link"></span></a>            
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h2 class="modal-title"><p class="text-primary"><lead>Related Links</lead><p></h2>
                        </div>
                        <div class="modal-body">
            <h5>
              <div>
                {% for related_topic in related_topics_list %}
                  <hr/>
                    <div>
                      <p>
                        {{related_topic["Text"]}}
                      </p>
                      <p>
                        <form method="post">
                            <button type="submit" name="search_string" value="{{related_topic["FirstURL"]}}" class="btn btn-link" class="modal-search-button" data-loading-text="Searching" >{{related_topic["FirstURL"]}}</button>
                          </form>
                      </p>                
                    </div>


                   {% endfor %}
              </div>  
            </h5>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>      
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            
            </h4>
          </div>  
        </article>
      
      </div>
    </div>
    
  </section>
  
  <section>
    <div >
      <div class="container-fluid" {{sr_show_value}}>
      <!--  <h2>
          Results Secondary 
        </h2>  -->
        <div class="row">
          <article>
            <div class="col-sm-3" >
              <div class="well">
                <h3 class="text-center">
                Top Results
                </h3>
                <hr/>
                <h5 class="text-center">
                  {% for result in top_results %}
                  
                    <div>
                      <p>
                        {{result["title"]}}
                      </p>
                      <p>
                        <a href="{{result["url"]}}" class="comment-text">{{result["url"]}}</a>  
                      </p>                
                    </div>
                    <hr/>


                    {% endfor %}
                <h5>
              </div>
            </div>  
          </article>
  
          <article>
            <div class="col-sm-3" >
              <div class="well">
                <h3 class="text-center">
                News Results
                <hr/>
                <h5 class="text-center">
                  {% for result in news_results %}
                  
                    <div>
                      <p>
                        {{result["title"]}}
                      </p>
                      <p>
                        <a href="{{result["url"]}}" class="comment-text">{{result["url"]}}</a>  
                      </p>                
                    </div>
                    <hr/>


                    {% endfor %}
                <h5>
          <!--    <hr/>
                <h5 class="text-center">
                  {% for result in more_news_results %}
                  
                    <div>
                      <p>
                        {{result["title"]}}
                      </p>
                      <p>
                        <a href="{{result["url"]}}" class="comment-text">{{result["url"]}}</a>  
                      </p>                
                    </div>
                    <hr/>


                    {% endfor %}
                <h5>  -->
                </h3>
              </div>
            </div>  
          </article>
          <article>
            <div class="col-sm-3" >
              <div class="well">
                <h3 class="text-center">
                Web Results
                <hr/>
                <h5 class="text-center">
                  {% for result in web_results %}
                  
                    <div>
                      <p>
                        {{result["title"]}}
                      </p>
                      <p>
                        <a href="{{result["url"]}}" class="comment-text">{{result["url"]}}</a>  
                      </p>                
                    </div>
                    <hr/>


                    {% endfor %}
                <h5>                
                </h3>
              </div>
            </div>      
          </article>
          <article>
            <div class="col-sm-3" >
              <div class="well">
                <h3 class="text-center">
                Th0Red Results
                <hr/>
              <div>
                {% for result in thored_results %}  
                    <div>
                      <p>
                        <form method="post">
                            <button type="submit" name="search_string" value="{{result["result"]}}" class="btn btn-link" class="modal-search-button" data-loading-text="Searching" >{{result["result"]}}</button>
                          </form>
                      </p>                
                    </div>


                   {% endfor %}
              </div>                  
                </h3>
              </div>
            </div>  
          </article>
        </div>
      </div>
      <div class="container-fluid"  {{mr_show_value}}>
        <div class="well">
          <article>
          <h2 class="text-center">
            Media Results
          <hr/>
          <div class="row"> 
          {% for result in image_results %}
                      
              
                <img src="{{result["url"]}}" alt="" class="img-responsive center-block" > 
                              
            
            


            {% endfor %}            
          </div>
          </h2> 
        </article>
        </div>
      </div>        
    </div>
  </section>



<!-- javascript -->
  <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
$("#search-button").click(function() {
    var $btn = $(this);
    $btn.button('loading');
    // simulating a timeout
    setTimeout(function () {
        $btn.button('reset');
    }, 10000);
});
    </script>
  <script type="text/javascript">
$("modal-search-button").click(function() {
    var $btn = $(this);
    $btn.button('loading');
    // simulating a timeout
    setTimeout(function () {
        $btn.button('reset');
    }, 10000);
});
    </script>   
    <script type="text/javascript">
    $("#my-button").click(function(){
      $("#related-modal").modal();
    });


    </script

</body>
</html>